* text=auto !eol
/.classpath -text svneol=unset#text/plain
/.project -text svneol=unset#text/plain
.settings/org.eclipse.core.resources.prefs -text svneol=unset#text/plain
.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
.settings/org.eclipse.pde.core.prefs -text svneol=unset#text/plain
.settings/org.maven.ide.eclipse.prefs -text svneol=unset#text/plain
/LICENSE -text
/NOTICE -text
/build.properties -text svneol=unset#text/plain
/pom.xml -text svneol=unset#text/plain
src/assemble/assemblies.xml -text svneol=unset#text/plain
src/etc/NOTICE_template.txt -text svneol=unset#text/plain
src/etc/header.txt -text svneol=unset#text/plain
src/main/java/de/hu_berlin/german/korpling/saltnpepper/pepperModules/relannis/IdManager.java -text
src/main/java/de/hu_berlin/german/korpling/saltnpepper/pepperModules/relannis/RelANNIS.java -text svneol=unset#text/plain
src/main/java/de/hu_berlin/german/korpling/saltnpepper/pepperModules/relannis/RelANNISExporter.java -text svneol=unset#text/plain
src/main/java/de/hu_berlin/german/korpling/saltnpepper/pepperModules/relannis/Salt2RelANNISMapper.java -text svneol=unset#text/plain
src/main/java/de/hu_berlin/german/korpling/saltnpepper/pepperModules/relannis/exceptions/RelANNISModuleException.java -text svneol=unset#text/plain
src/test/java/de/hu_berlin/german/korpling/saltnpepper/pepperModules/relannis/tests/RelANNISExporterTest.java -text
src/test/java/de/hu_berlin/german/korpling/saltnpepper/pepperModules/relannis/tests/Salt2RelANNISMapperTest.java -text svneol=unset#text/plain
src/test/resources/testMapAnaphoric/component.tab -text
src/test/resources/testMapAnaphoric/corpus.tab -text
src/test/resources/testMapAnaphoric/corpus_annotation.tab -text
src/test/resources/testMapAnaphoric/edge_annotation.tab -text
src/test/resources/testMapAnaphoric/node.tab -text
src/test/resources/testMapAnaphoric/node_annotation.tab -text
src/test/resources/testMapAnaphoric/rank.tab -text
src/test/resources/testMapAnaphoric/testMapAnaphoric.dot -text
src/test/resources/testMapAnaphoric/testMapAnaphoric.png -text
src/test/resources/testMapAnaphoric/text.tab -text
src/test/resources/testMapFullGraph/testMapFullGraph.dot -text
src/test/resources/testMapFullGraph/testMapFullGraph.png -text
src/test/resources/testMapParallelData/component.tab -text
src/test/resources/testMapParallelData/corpus.tab -text
src/test/resources/testMapParallelData/corpus_annotation.tab -text
src/test/resources/testMapParallelData/edge_annotation.tab -text
src/test/resources/testMapParallelData/node.tab -text
src/test/resources/testMapParallelData/node_annotation.tab -text
src/test/resources/testMapParallelData/rank.tab -text
src/test/resources/testMapParallelData/testMapParallelData.dot -text
src/test/resources/testMapParallelData/testMapParallelData.png -text
src/test/resources/testMapParallelData/text.tab -text
src/test/resources/testMapSSpans/component.tab -text
src/test/resources/testMapSSpans/corpus.tab -text
src/test/resources/testMapSSpans/corpus_annotation.tab -text
src/test/resources/testMapSSpans/edge_annotation.tab -text
src/test/resources/testMapSSpans/node.tab -text
src/test/resources/testMapSSpans/node_annotation.tab -text
src/test/resources/testMapSSpans/rank.tab -text
src/test/resources/testMapSSpans/testMapSSpans.dot -text
src/test/resources/testMapSSpans/testMapSSpans.png -text
src/test/resources/testMapSSpans/text.tab -text
src/test/resources/testMapSSyntax/component.tab -text
src/test/resources/testMapSSyntax/corpus.tab -text
src/test/resources/testMapSSyntax/corpus_annotation.tab -text
src/test/resources/testMapSSyntax/edge_annotation.tab -text
src/test/resources/testMapSSyntax/node.tab -text
src/test/resources/testMapSSyntax/node_annotation.tab -text
src/test/resources/testMapSSyntax/rank.tab -text
src/test/resources/testMapSSyntax/testMapSSyntax.dot -text
src/test/resources/testMapSSyntax/testMapSSyntax.png -text
src/test/resources/testMapSSyntax/text.tab -text
src/test/resources/testMapSText/component.tab -text
src/test/resources/testMapSText/corpus.tab -text
src/test/resources/testMapSText/corpus_annotation.tab -text
src/test/resources/testMapSText/edge_annotation.tab -text
src/test/resources/testMapSText/mapSText.dot -text
src/test/resources/testMapSText/mapSText.png -text
src/test/resources/testMapSText/node.tab -text
src/test/resources/testMapSText/node_annotation.tab -text
src/test/resources/testMapSText/rank.tab -text
src/test/resources/testMapSText/text.tab -text
src/test/resources/testMapSToken/component.tab -text
src/test/resources/testMapSToken/corpus.tab -text
src/test/resources/testMapSToken/corpus_annotation.tab -text
src/test/resources/testMapSToken/edge_annotation.tab -text
src/test/resources/testMapSToken/mapSToken.dot -text
src/test/resources/testMapSToken/mapSToken.png -text
src/test/resources/testMapSToken/node.tab -text
src/test/resources/testMapSToken/node_annotation.tab -text
src/test/resources/testMapSToken/rank.tab -text
src/test/resources/testMapSToken/text.tab -text
src/test/resources/testMapSTokenAnnotation/component.tab -text
src/test/resources/testMapSTokenAnnotation/corpus.tab -text
src/test/resources/testMapSTokenAnnotation/corpus_annotation.tab -text
src/test/resources/testMapSTokenAnnotation/edge_annotation.tab -text
src/test/resources/testMapSTokenAnnotation/node.tab -text
src/test/resources/testMapSTokenAnnotation/node_annotation.tab -text
src/test/resources/testMapSTokenAnnotation/rank.tab -text
src/test/resources/testMapSTokenAnnotation/testMapSTokenAnnotation.dot -text
src/test/resources/testMapSTokenAnnotation/testMapSTokenAnnotation.png -text
src/test/resources/testMapSTokenAnnotation/text.tab -text
src/test/resources/testMapSeveralTokenizations/component.tab -text
src/test/resources/testMapSeveralTokenizations/corpus.tab -text
src/test/resources/testMapSeveralTokenizations/corpus_annotation.tab -text
src/test/resources/testMapSeveralTokenizations/edge_annotation.tab -text
src/test/resources/testMapSeveralTokenizations/node.tab -text
src/test/resources/testMapSeveralTokenizations/node_annotation.tab -text
src/test/resources/testMapSeveralTokenizations/rank.tab -text
src/test/resources/testMapSeveralTokenizations/testMapSeveralTokenizations.dot -text
src/test/resources/testMapSeveralTokenizations/testMapSeveralTokenizations.png -text
src/test/resources/testMapSeveralTokenizations/text.tab -text
